.app {
  text-align: center;
  display: grid;
  grid-template-columns: 50% 15% 15% 20%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 3rem;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.reorder {

}

@media (prefers-reduced-motion: no-preference) {
  .reorder {
    animation: fadeIn 3s;
  }
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
