.button-link {
    border: none;
    color: #069;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
}

.button-submit {
    border: 2px darkblue solid;
    border-radius: 3rem;
    background-color: cornflowerblue;
    cursor: pointer;
    color: #f3d1cb;
    height: 2rem;
}

.button-submit:hover {
    background-color: #7a92be;
}

.link-dialog {
    background-color: yellow;
}

.submit-dialog {
    background-color: burlywood;
}

form {
    display: inline-block;
    height: 8rem;
    width: 30rem;
    align-self: center;
    border: 2px black solid;
}