.cats {
    grid-area: main;
    gap: 0.5rem;
}

/*.cats div:hover {*/
/*    box-shadow: 2px 2px 5px 5px grey;*/
/*}*/

.card__title {
    text-align: center;
}

.card__text {
    margin: 0.5rem;
}

.card__left, .card__right {
    background-color: papayawhip;
    border: 1px solid black;
    text-align: center;
}

.card__pic__right {
    float: right;
    aspect-ratio: 1/1;
    width: 125px;
    border-radius: 1rem;
    margin: 0.5rem;
}

.card__pic__left {
    float: left;
    aspect-ratio: 1/1;
    width: 125px;
    border-radius: 1rem;
    margin: 0.5rem;
}

@media screen and (min-width: 44rem){
    
    .card__left {
        grid-row: span 6;
        display: grid;
        grid-template-areas: "left-pic title"
                            "left-pic content";
        grid-template-columns: 0.3fr 1fr;
        border-radius: 1rem;
        margin: 0.5rem;
        border: 1px solid black;
    }

    .card__right {
        grid-row: span 6;
        display: grid;
        grid-template-areas: "title right-pic"
                            "content right-pic";
        grid-template-columns: 1fr 0.3fr;
        border-radius: 1rem;
        margin: 0.5rem;
        border: 1px solid black;
    }
    
    .card__title {
        grid-area: title;
        text-align: center;
    }
    
    .card__text {
        grid-area: content;
    }
    
    .card__pic__right {
        grid-area: right-pic;
        aspect-ratio: 1/1;
        width: 90%;
        height: auto;
    }
    
    .card__pic__left {
        grid-area: left-pic;
        aspect-ratio: 1/1;
        width: 90%;
        height: auto;
    }
    
}
