.global-nav__list {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

.global-nav__list--open {
    display: block;
}

.global-nav__link {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
}

.global-nav__link:hover {
    background-color: burlywood;
    color: black;
}

.global-nav__button {
    min-width: 54px;
    min-height: 54px;
}

@media screen and (min-width: 44rem) {
    .global-nav__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .global-nav__button {
        display: none;
    }
}